body{
  position: absolute;
  height: 100%;
  width: 100%;
}

.blue{
  background-color: rgb(51, 102, 255);
}
.green{
  background-color: rgb(51, 102, 0);
}
.red{
  background-color: rgb(255, 0, 0);
}

.yellow{
  background-color: rgb(255, 255, 102);
}
